body {
	background-color: #0A0A0A;
}

#mainWindow {
	width: 960px;
	margin: auto 1em;
	margin-left: auto;
	margin-right: auto;
	background-color: #242424;
	border-radius: 8px;
	padding: 1em;
}

.imgDisplay {
	width: 108px;
	height: 80px;
	float:left;
	margin: 10px;
	overflow:hidden;
}

#tabs {
	width: 950px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
	margin-top: .6em;
	overflow: hidden;
}

.tabDec {
	width: 170px;
	height: 40px;
	background-color: #9DC209;
	display: block;
	float: left;
	border-radius: 8px;
	margin-left: 10px;
	margin-right: 10px;
	color: #242424;
	font-weight: bolder;
	text-align: center;
	line-height: 40px;
}

#header {
	font-size: 400%;
	color: #9DC209;
	margin-left: .3em;
	margin-top: .2em;
	margin-bottom: 8px;
	width: 605px;
	display: block;
	float: left;
}

#frame {
	width: 900px;
	margin-top: 1.5em;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 1em;
	padding: 1em;
	border-style: solid;
	border-width: 2px;
	border-bottom-color: #CCC;
	border-right-color: #CCC;
	border-left-color: #888;
	border-top-color: #888;
	border-radius: 8px;
	background-color: #1A1A1A;
	overflow: hidden;
}

#imgContainer {
	margin-right: auto;
	margin-left: auto;
	width: 800px;
	overflow: hidden;
}

.pic {
	width: 108px;
	float:left;
	display: block;
	border-radius: 2px;
	opacity: 0;
	-moz-transition: opacity 2s;
	-webkit-transition: opacity 2s;
	-o-transition: opacity 2s;
	transition: opacity 2s;
}

#linkToDownload {
	background-color: #242424;
	color: white;
	border-color: #9DC209;
	width: 250px;
	border-radius: 3px;
	margin-right: 7px;
}

#credentialQuickLoad {
	margin-top: 2.5em;
	float: left;
	display: block;
}
